<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="dp_project.Properties.Settings.collegeConnectionString"
            connectionString="Data Source=DESKTOP-PD4CV4V;Initial Catalog=college;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="dp_project.Properties.Settings.collegeConnectionString1"
            connectionString="Data Source=DESKTOP-SM490GV;Initial Catalog=college;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>